.wrapper {
	display: grid;
	grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 15% 1fr;
	grid-gap: 4px;
  height: 860px;

}

@media (min-width: 1366px) {
  .wrapper {
  grid-template-areas:
  "header header header"
  "nav content content"
  "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 160px 1fr;
  }
}

@media (min-height: 768px) {
  .wrapper {
  grid-template-areas:
  "header header header"
  "nav content content"
  "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 160px 1fr;
  }
}

header {
    grid-area: header;
    padding: 2%;
    text-align: 50%;
    font-size: 25px;
    font-style: italic;
    background-color: #ffce49;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid white;
}

nav {
    grid-area: nav;

}

content {
    grid-area: content;

}


footer {
    grid-area: footer;
    grid-column: span 3;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    background-color: #262626;
    color: papayawhip;
    border-top:  2px solid white;

}

.container {
  background-color: rgb(238, 120, 42);
  display: flex;
  flex-direction: column;
}

#welcome{
  background-image: url("Pacman_Run2.JPG");
  background-position: 50%;
  background-repeat: no-repeat;
}


[id^=RegisterButton]{
  position: absolute;
  border-radius: 10px;
  padding: 10px 50px;
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
} 



[id^=LoginButton]{
  border-radius: 10px;
  padding: 10px 50px;
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


#RegisterButton{
  position: absolute;
  top: 40%;
  left: 75%;
  background-color: rgb(241, 241, 200);
  font-weight: bold;
  color: black;
}

#LoginButton{
  position: absolute;
  top: 50%;
  left: 75%;
  background-color:  rgb(241, 241, 200);
  font-weight: bold;
  color: black;
}

#register{
  background-color: rgb(241, 241, 200);
  display: block;
  position: relative;
  width: 40%;
  left: 27%;

}


#SubmitButton{
  position: absolute;
  top: 75%;
  left: 35%;
  background-color:  rgb(160, 199, 160);
  font-weight: bold;
  color: black;
}

[id^=SubmitButton]{
  border-radius: 10px;
  padding: 10px 50px;
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#login{
    background-color: rgb(241, 241, 200);
    display: block;
    position: relative;
    width: 40%;
    left: 27%;
  
  }

  #loginButton{
    position: absolute;
    top: 70%;
    left: 35%;
    background-color:  rgb(160, 199, 160);
    font-weight: bold;
    color: black;
  }
  
  [id^=loginButton]{
    border-radius: 10px;
    padding: 10px 50px;
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  