
.wrapper {
	display: grid;
	grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";
	grid-template-rows: 80px 800px 50px;
	grid-template-columns: 15% 1fr;
  grid-gap: 4px;
  background-color: #79BFFF;
  flex-direction: column;
  height: 1025px;
}

@media (min-width: 768px) {
  .wrapper {
  grid-template-areas:
  "header header header"
  "nav content content"
  "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 180px 1fr;
  }
}

header {
    grid-area: header;
    padding: 2%;
    padding-left: 25%;
    text-align: 50%;
    font-size: 25px;
    font-style: italic;
    background-color: #09254E;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid #ffffff;
}

#logregister{
  color:white;
  padding-left: 20%;
}

nav {
    grid-area: nav;

}

content {
    grid-area: content;
    padding-left: 10%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace; 
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}


footer {
    grid-area: footer;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    background-color: #09254E;
    color: #ffffff;
    border-top:  2px solid #f2f9fa;
    object-position: bottom;
}


[id^=RegisterButton]{
  position: absolute;
  border-radius: 10px;
  padding: 20px 50px;
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
} 



[id^=LoginButton]{
  border-radius: 10px;
  padding: 20px 50px;
  font-size:20px;
  font-family: 'Courier New', Courier, monospace;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


#RegisterButton{
  position: absolute;
  top: 60%;
  left: 20%;
  background-color: rgb(61, 88, 163);
  font-weight: bold;
  color: whitesmoke;
  font-weight:bold;

}

#LoginButton{
  position: absolute;
  left: 40%; 
  top: 60%;
  background-color: rgb(61, 88, 163);
  font-weight: bold;
  color: whitesmoke;
}

#register{
    background-color: #D5D8DD;
    display: block;
    position: fixed;
    width: 40%;
    left: 27%;
    margin-top:30px;
    font-size: x-large;
    text-align:center;

}

#usernameReg{
  width: 12%; 
}

#SubmitButton{
  position: absolute;
  top: 75%;
  left: 35%;
  background-color:  rgb(121, 191, 255);
  font-weight: bold;
  color: black;
}

[id^=SubmitButton]{
  border-radius: 10px;
  padding: 10px 100px;
  font-size:20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#login{
    background-color: #D5D8DD;
    display: block;
    position: fixed;
    width: 40%;
    left: 27%;
    margin-top:30px;
    font-size: x-large;
  
  }

  #loginButton{
    position: absolute;
    top: 70%;
    left: 35%;
    background-color:  #79bfff;
    font-weight: bold;
    color: black;
  }
  
  [id^=loginButton]{
    border-radius: 10px;
    padding: 10px 100px;
    font-size:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  #randomButton{
    position: absolute;
    top: 82%;
    left: 20%;
    background-color:  #79bfff;
    font-weight: bold;
    color: black;
  }
  
  [id^=randomButton]{
    border-radius: 10px;
    padding: 10px 100px;
    font-size:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  #playButton{
    position: absolute;
    top: 82%;
    left: 55%;
    background-color:  #79bfff;
    font-weight: bold;
    color: black;
  }
  
  [id^=playButton]{
    border-radius: 10px;
    padding: 10px 100px;
    font-size:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  #muteButton{
    position: absolute;
    top: 32%;
    left: 18%;
    background-color: rgb(61, 88, 163);
    font-weight: bold;
    color: whitesmoke;
  }
  
  [id^=muteButton]{
    border-radius: 10px;
    padding: 10px 100px;
    font-size:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  #playMusicButton{
    position: absolute;
    top: 40%;
    left: 18%;
    background-color:  rgb(61, 88, 163);
    font-weight: bold;
    color: whitesmoke;
  }
  
  [id^=playMusicButton]{
    border-radius: 10px;
    padding: 10px 100px;
    font-size:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  #restart{
    position: absolute;
    top: 48%;
    left: 18%;
    background-color:  rgb(61, 88, 163);
    font-weight: bold;
    color: whitesmoke;
  }
  
  [id^=restart]{
    border-radius: 10px;
    padding: 10px 100px;
    font-size:20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

#gameSettings{
  background-color: #D5D8DD;
  display: block;
  position: fixed;
  width: 40%;
  left: 27%;
  height: 60%;
  margin-top:40px;
  font-size: x-large;
  font-weight: bold; 
  }

  #keyLeftBtn{
    margin-left: 75%;
  }

#settingsTable {
    margin-top:1%;

}

#keysTable{
    margin-right: 5%;
}

.keys{
    width: 60px;
    height: 20px;
}
  
.menu{
  background-color: #3D58A3;
  border-right:  2px solid #fffffe;
  color:#ffffff;
  font-size: x-large;
  text-align:center;
}
.menu li
{
  display:inline;
}
.menu a
{
  text-decoration: none;
  display: inline-block;
  padding: 40px 15px;
  height:25px;
  border-radius: 25px;
  
}
.menu a:hover
{
  background: rgb(121, 191, 255);
  color:black;
}

#about{
  /* width:50%;
  height:60%;
  background: #ffffe6; */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
}/* The Modal (background) */



/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#gamePlay{
    height: -webkit-fill-available
}

#canvas {
  background-color: #09254e;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  margin: auto;
  border: 7px  double #ffffff;
  padding: 0;
  margin: auto;
  display: block;
  width: 1200px;
  height: 600px;
  position: relative;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
}

#gamePlay ul {
  overflow: hidden;
  background-color:  #79bfff;
  font-size: x-large;
  color: #09254e;
  text-align:center;
  font-weight: bold;
}

#gamePlay ul li{
  display:inline;padding:15px
}

#timer_score{
  color: white;
}